<div class = "container">
  <h2>会員情報編集</h2>
    <%= form_with model: @customer, url: customers_update_path do |f| %>
    <%= render 'layouts/errors', resource: @customer %>
    <!--form_with外にrowを置くと上手くグリッドシステムが作動しないので中に設置。-->
    <div class="row">
      <div class="col-md-6">
        <%= f.label :last_name, "姓", class: "customer_name " %>
        <%= f.text_field :last_name, autofocus: true, :placeholder => "難波", class: "form-control mt-2" %>
      </div>
      <div class="col-md-6">
        <%= f.label :first_name, "名", class: "customer_name" %>
        <%= f.text_field :first_name, :placeholder => "太郎", class: "form-control mt-2" %>
      </div>
      <div class="col-md-6">
        <%= f.label :last_name_kana, "セイ", class: "customer_name" %>
        <%= f.text_field :last_name_kana, :placeholder => "ナンバ", class: "form-control mt-2" %>
      </div>
      <div class="col-md-6">
        <%= f.label :first_name_kana, "メイ", class: "customer_name" %>
        <%= f.text_field :first_name_kana, :placeholder => "タロウ", class: "form-control mt-2" %>
      </div>
      <div class="col-12">
        <%= f.label :postal_code, "郵便番号" %>
        <%= f.text_field :postal_code, class: "form-control mt-2" %>
      </div>
      <div class="col-12">
        <%= f.label :address, "住所" %>
        <%= f.text_field :address, class: "form-control mt-2" %>
      </div>
      <div class="col-12">
        <%= f.label :phone_number, "電話番号" %>
        <%= f.text_field :phone_number, class: "form-control mt-2" %>
      </div>
      <div class="col-12">
        <%= f.label :email, "メールアドレス" %>
        <!--autocompleteは入力フォームで自動補完を行ってくれるもの。何と結びつけるかも指定できる。今回ならemail-->
        <%= f.email_field :email, autocomplete: "email", class: "form-control mt-2" %>
      </div>
      <div class="actions mt-3 text-center">
        <%= f.submit "変更内容を保存", class: "btn btn-success" %>
        <%= link_to '退会する', unsubscribe_path, class: "btn btn-danger ms-5" %>
      </div>
    </div>
  <% end %>
</div>
