<div class = "container">

<h3>マイページ</h3>

<%= link_to '編集する', edit_information_path %>

<p>氏名：<%= @customer.last_name %> <%= @customer.first_name %></p>

<p>フリガナ：<%= @customer.last_name_kana %> <%= @customer.first_name_kana %></p>

<p>郵便番号：<%= @customer.postal_code %></p>

<p>住所：<%= @customer.address %></p>

<p>電話番号：<%= @customer.phone_number %></p>

<p>メールアドレス：<%= @customer.email %></p>

<%= link_to '配送先一覧', deliveries_path %>

<%= link_to '注文履歴一覧', orders_path %>

</div>
