<div class = "container">

<h2>会員編集</h2>

<%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>

  <p>会員ID：<%= @customer.id %></p>

  <div class="field">
    <%= f.label :last_name, "(名前)", class: "customer_name" %> <%= f.text_field :last_name, autofocus: true, :placeholder => "難波" %>
    <%= f.label :first_name, "(姓)", class: "customer_name" %> <%= f.text_field :first_name, :placeholder =>"太郎" %>
  </div>

  <div class="field">
    <%= f.label :last_name_kana, "(セイ)", class: "customer_name" %> <%= f.text_field :last_name_kana, :placeholder => "ナンバ" %>
    <%= f.label :first_name_kana, "(メイ)", class: "customer_name" %> <%= f.text_field :first_name_kana, :placeholder =>"タロウ" %>
  </div>


  <div class="field">
    <%= f.label :postal_code, "郵便番号（ハイフンなし）" %> <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %> <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号" %> <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <!--autocompleteは入力フォームで自動補完を行ってくれるもの。何と結びつけるかも指定できる。今回ならemail-->
    <%= f.label :email, "メールアドレス" %> <%= f.email_field :email, autocomplete: "email" %>
  </div>

  <div class = "form-group">
    <label for = "customer_status">会員ステータス</label>
    <div><%= f.radio_button :status, true %>有効</div>
    <div><%= f.radio_button :status, false %>無効</div>
  </div>

  <div class="actions">
    <%= f.submit "変更を保存" %>
  </div>
<% end %>

</div>
