<div class = "col-md-6 mx-auto my-5">
<%= form_with model: delivery, url: url do |f| %>
<%= render 'layouts/errors', resource: delivery %>
  <div class = "form-group col-auto">
    <div class="row my-3">
      <%= f.label :postcode, '郵便番号', class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <!--text_numberはデータ型がintegerでないとうまく保存できない。-->
        <%= f.text_field :postcode, class: 'form-control' %>
      </div>
    </div>
    <div class="row my-3">
      <%= f.label :address, '住所', class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <!--text_numberはデータ型がintegerでないとうまく保存できない。-->
        <%= f.text_field :address, class: 'form-control' %>
      </div>
    </div>
    <div class="row my-3">
      <%= f.label :name, '宛名', class: "col-sm-3 col-form-label" %>
      <div class="col-sm-9">
        <!--text_numberはデータ型がintegerでないとうまく保存できない。-->
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
     <div class = "form-group text-center">
        <%= f.submit submit, class: 'btn btn-success col-md-4 col-6' %>
      </div>
  </div>
<% end %>
</div>