<div class = "container">

  <h1>配送先一覧/登録</h1>

  <%= render 'form',delivery: @delivery_new, url: deliveries_path ,submit: '新規登録' %>

<% @deliveries.each do |delivery| %>
  <div>
    <%= delivery.postcode %>
    <%= delivery.address %>
    <%= delivery.name %>
    <%= link_to "編集", edit_delivery_path(delivery) %>
    <%= link_to "削除", delivery_path(delivery), method: :delete %>
  </div>
<% end %>