<div class = "container">

  <h3>配送先一覧/登録</h3>
  <div class = "row">
    <%= render 'form',delivery: @delivery, url: deliveries_path ,submit: '新規登録' %>
  </div>
<% @deliveries.each do |delivery| %>
  <div>
    <%= delivery.postcode %>
    <%= delivery.address %>
    <%= delivery.name %>
    <%= link_to "編集", edit_delivery_path(delivery) %>
    <%= link_to "削除", delivery_path(delivery), method: :delete %>
  </div>
<% end %>