<div class = "container">

  <h3>注文履歴一覧</h3>

<% @orders.each do |order| %>
  <div>
    <p><%= order.created_at.strftime('%Y/%m/%d') %></p>
    <p>
      〒<%= order.postcode %><br>
      <%= order.ship_to_address %><br>
      <%= order.ship_name %>
    </p>
    <p>
      <% order.order_details.each do |order_detail| %>
        <%= order_detail.item.name %>
      <% end %>
    </p>
    <!--.to_s(:delimited)をつけて3桁ごとに点を表示-->
    <p><%= order.total_price.to_s(:delimited) %>円</p>
    <p><%= order.status_i18n%></p>
    <%= link_to "表示する", order_path(order) %>
  </div>
<% end %>